.menu__exit {
  line-height: 20px;
  text-align: left;
  min-width: 53px;
  min-height: 30px;
  display: flex;
  align-items: center;
  @include display-flex();
  @include align-items(center);
}

.menu__exit::after {
  content: url('blocks/menu/img/exit.svg');
  margin-left: 7px;
  @include display-flex();
  @include justify-content(center);
  @include align-items(center);
}
