.button {
  color: #FFFF;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  line-height: 28px;
  display: inline-block;
}

.button-status {
  background-color: #66C3E6;
  font-size: 15px;
  width: 104px;
  height: 30px;
}

.button-purchase {
  background-color: #66C3E6;
  font-size: 17px;
  width: 144px;
  height: 40px;
}

.button-primary {
  background-color: #FF5F6D;
  font-size: 17px;
  width: 276px;
  height: 40px;
}

.button-exit {
  color: #94A1A7;
}
