.logo {
  width: 129.61px;
  height: 19.75px;
}

.userpic {
  width: 30.09px;
  height: 30.17px;
}

.exit-icon {
  width: 24px;
  height: 24px;
}

.subject-icon-math {
  width: 22px;
  height: 22px;
}

.subject-icon-ru {
  width: 30px;
}

.subject-icon-eng {
  width: 30px;
}

.subjct-icon-nature {
  width: 30px;
}
