$font-family: 'Noto Sans', sans-serif;

$color-blue: #66C3E6;
$color-grey: #94A1A7;
$color-red: #FF5F6D;

$button-text-color: #FFF;
$button-line-height: 28px;
$button-border-radius: 5px;
$button-height: 28px;
$button-width: 104px;
$button-font-size: 15px;

$page-width: 1028px;